extends ../includes/layout
block main-content
    .container
        div.row
            form.form-horizontal(method='GET', action='/maps/all')
                div.form-inline.col-md-3
                    label.col-lg-2.control-label(for='page') Page
                    div.col-md-2
                        input.form-control(type='number' id='page' value=query.page || '1' min=1 name='page')
                div.form-inline
                    label.col-lg-2.control-label(for='select') Sort by
                    div.col-md-2
                        select#select.form-control(name='by')
                            option(value='name' selected=query.by=='name') Name
                            option(value='date' selected=query.by=='date') Date
                            option(value='damageToTake' selected=query.by=='damageToTake') Damage
                            option(value='prizes' selected=query.by=='prizes') Prize
                div.form-inline
                    label.col-lg-2.control-label(for='method') Method
                    div.col-md-2
                        select#method.form-control(name='sort')
                            option(value='asc' selected=query.sort=='asc') Ascending
                            option(value='desc' selected=query.sort=='desc') Descending
                div.form-group
                    button.btn.btn-info Filter

        br
        div.row
            each map in maps
                div.col-lg-4.text-center.borders
                    h3.text-info
                        a(href="/maps/" + map._id)= map.name
                    strong.bg-success Max prize:
                    span.text-success!= '&nbsp; &nbsp;&nbsp; $' + map.prizes[0]
                    br
                    strong.bg-success Max respect:
                    span.text-success!= '&nbsp; &nbsp;&nbsp; ' + map.respectGiven[0]
        if user && (user.role === 'moderator' || user.role === 'administrator')
            br
            br
            div.row
                a.btn.btn-lg.btn-block.btn-success(href="/maps/add") Add new map




