extends ../includes/layout
block main-content
    div(class="container")
        form.form-horizontal(action='/shop/cars/all' method='GET')
            fieldset
                legend Filter
                .form-group
                    label.col-lg-1.control-label(for='sort') Sort
                    .col-lg-3
                        select#sort.form-control(name='sort')
                            option(value='asc') Ascending
                            option(value='desc') Descending
                    label.col-lg-1.control-label(for='by') By
                    .col-lg-3
                        select#by.form-control(name='by')
                            option(value='price') Price
                            option(value='engineLevel') Engine Power
                .form-group
                    .col-lg-12.col-lg-offset-10
                        button.btn.btn-primary Submit
                        button.btn.btn-default(type='reset') Cancel
        .panel.panel-primary
            .panel-heading
                h3.white-text=message
            .panel-body
                table.table.table-bordered
                    tr
                        th.col-md-4 Looks
                        th.col-md-4 Price
                        th.col-md-4 Stats
                    each val in cars
                        tr
                            td.text-center
                                img.img-responsive.img-circle.car-image-shop(src=val.urlImage)
                            td.text-center
                                div=val.price
                            td.text-center
                                ul
                                    li='Level required: ' + val.levelRequired
                                    li='Turbo: ' + val.turbo
                                    li='Engine Level: ' + val.engineLevel
                                    li='Wheels Level: ' + val.wheelsLevel
                                    li='Model: ' + val.model
                            td.text-center
                                //a.btn.btn-primary(href='/shop/cars/' + val._id + '/buy')='Buy'
                                a.btn.btn-primary(href='/shop/cars/' + val._id)='Show more'
            form.form-horizontal(action='/shop/cars/all' method='GET')
                .col-md-12
                    .col-md-3.pull-left
                        button.btn.btn-primary(name='page' value=prevPage()) <<
                    .col-md-6
                        label.control-label.col-lg-3(for='pageSize' ) Page Size
                        .col-lg-6
                            input#pageSize.form-control(type='number', placeholder=size name='size')
                    .col-md-3.pull-right
                        button.btn.btn-primary(name='page' value=nextPage()) >>
