extends ../includes/layout
block main-content
    div(class="container")
        .panel.panel-primary
            .panel-heading
                h3.white-text=message
            .panel-body
                table.table.table-bordered
                    tr
                        th.col-md-4 Looks
                        th.col-md-4 Price
                        th.col-md-4 Stats
                    each val in cars
                        tr
                            td.text-center
                                img.img-responsive.img-circle.car-image-shop(src=val.urlImage)
                            td.text-center
                                div=val.price
                            td.text-center
                                ul
                                    li='Level required: ' + val.levelRequired
                                    li='Turbo: ' + val.turbo
                                    li='Engine Level: ' + val.engineLevel
                                    li='Wheels Level: ' + val.wheelsLevel
                                    li='Model: ' + val.model
                            td.text-center
                                //a.btn.btn-primary(href='/shop/cars/' + val._id + '/buy')='Buy'
                                a.btn.btn-primary(href='/shop/cars/' + val._id)='Show more'